<template name="error404">
  <div class="layout-float-form">
    <div class="container-fluid float-form">
      <div class="row p-t-50">
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3  col-lg-4 col-lg-offset-4">
          <div class="p-b-10 text-center">
            <h1 class="emoji-xl">😞</h1>
            <h2>Página no encontrada</h2>
            <p>Lo sentimos pero la página que buscas no se encuentra disponible</p>
            <div class="m-t-20">
              <a href="/" class="btn btn-primary btn-block">Ir a la página principal</a>
            </div>
            <hr/>
            <div class="text-center">
              <p>¿Quieres volver a la página anterior?</p>
              <div>
                <a href="javascript:window.history.back();" class="btn btn-default btn-block">Volver a la página anterior</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
