<!--
<template name="exhibitions">
  <div class="jumbotron">
    <h1>{{_ 'exhibitions_title'}}</h1>
    <p>{{_ 'exhibitions_subtitle'}}</p>
  </div>
  <div class="main-content">
    <div class="row">
      {{#each exhibitions}}
        {{> eventThumbnail}}
      {{/each}}

      <div class="col-sm-4">
        <div class="event-thumbnail text-center">
          <div class="header">
            <div>
              <img src="/exhibitions/madrid-dreamhack/logo.png" width="50%"/>
            </div>
            <p class="text-muted m-b-0">12/07/2018 - 15/07/2018</p>
            <h4 class="m-t-10 orange">Desde Madrid</h4>
            <h5 class="m-t-10">45€ / Persona</h5>
          </div>
          <h4 class="m-t-20 white">PLAZAS LIMITADAS</h4>
          <p class="text-muted bold text-uppercase">Duración: 4h</p>
          <div class="progress active m-b-0 h-10">
            <div class="progress-bar bg-orange" style="width: 45%"></div>
          </div>
          <p class="m-t-10 text-right">
            20 / 100 Plazas
          </p>
          <div>
            <a href="/purchase/madrid-dreamhack/" class="btn bg-orange btn-block btn-circle white width-100">Reservar Viaje</a>
          </div>
        </div>
      </div>
    </div>



  </div>

</template>

<template name="eventThumbnail">

  <div class="col-sm-4">
    <div class="event-thumbnail">
      <div>
        <img src="/exhibitions/dreamhack-madrid/header-thumbnail.jpg" class="w-100p"/>
      </div>
      <h3>{{thumbnail_title}}</h3>
      <h5>{{thumbnail_subtitle}}</h5>
      <p>{{thumbnail_content}}</p>
      <hr class="m-b-0"/>
      <div class="row">
        <div class="col-xs-4 b-l text-center">
          <h3 class="m-b-0">{{thumbnail_price}} €</h3>
          <p class="small">{{_ 'price'}}</p>
        </div>
        <div class="col-xs-4 b-l text-center">
          <h3 class="m-b-0">{{thumbnail_seats_limit}}</h3>
          <p class="small">{{_ 'seats_limit'}}</p>
        </div>
        <div class="col-xs-4 text-center">
          <h3 class="m-b-0">{{thumbnail_travel_time}}</h3>
          <p class="small">{{_ 'travel_time'}}</p>
        </div>
      </div>
      <hr class="m-t-0"/>
      <div>
        <a href="/purchase/madrid-dreamhack/" class="btn btn-primary btn-block">{{_ 'book_trip_button'}}</a>
      </div>
    </div>
  </div>

</template>
-->
